<nav class="bg-black p-4 text-red-600">
    <ul class="flex space-x-5">
        <li><a href="{% url 'index' %}" class="hover:text-white hover:text-underline">Home</a></li>
        <li><a href="{% url 'about' %}" class="hover:text-white hover:text-underline">About</a></li>
        <li><a href="{% url 'contact' %}" class="hover:text-white hover:text-underline">Contact</a></li>
        <li><a href="{% url 'filters' %}" class="hover:text-white hover:text-underline">Filters</a></li>
        <li><a href="{% url 'login' %}" class="hover:text-white hover:text-underline">Login</a></li>
        <li><a href="{% url 'signup' %}" class="hover:text-white hover:text-underline">Signup</a></li>
        <li><a href="{% url 'blog_list' %}" class="hover:text-white hover:text-underline">Blog</a></li>
    </ul>
</nav>